verify_ssl = true

[dev-packages]
kaos-integration-tests = {editable = true, path = "./testing/integration"}
kaos-backend = {editable = true, path = "./backend"}

[packages]
kaos-model = {editable = true, path = "./model"}
kaos = {editable = true, path = "./cli"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true